@import "constants.scss";

main {
    .come-back {
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 100px;
        p {
            color: $light-gray;
            font-size: 26px;
            padding-left: 5px;
        }
    }
    h3 {
        margin: 20px 0 40px;
        font-size: 36px;
        color: $white;
    }

    .film-cart {
        display: flex;
        &__poster {
            display: flex;
            flex-direction: column;
            align-items: center;
            .poster_img {
                width: 350px;
                height: auto;
                margin-bottom: 20px;
            }
        }
        &__info {
            color: $white;
            margin-left: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .name {
                margin-bottom: 40px;
                &__ru {
                    font-size: 48px;
                    height: auto;
                }
                &__en {
                    margin-top: 10px;
                    font-size: 24px;
                    color: $light-gray;
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 14px;
                        border: 1px solid $light-gray;
                        margin-left: 10px;
                    }
                }
            }
            .about-film {
                text-align: left;
                h2 {
                    font-size: 28px;
                }
                table {
                    font-size: 20px;
                    margin-top: 20px;
                    .parametr {
                        width: 30%;
                        padding: 8px 0;
                        vertical-align: top;
                    }
                    .value {
                        color: $light-gray;
                        padding: 8px 40px;
                    }
                }
            }
        }
    
    @media(max-width: 1150px) {
        flex-direction: column;
        &__info {
            margin-left: 0;
            .name {
                text-align: center;
                &__en {
                    justify-content: center;
                }
            }
        }
    }

    }
    .synopsis {
        margin-top: 40px;
        h2 {
            font-size: 36px;
            margin-bottom: 20px;
            color: $white;
        }
        p {
            font-size: 20px;
            color: $light-gray;
        }
    }
    .raiting-and-watch {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        h2 {
            margin: 0;
            padding-top: 5px;
            margin-right: 15px;
            font-size: 36px;
            color: $white;
            span {
                color: $red;
            }
        }
    }
    .button {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: center;
        width: 168px;
        height: 56px;
        background-color: $red;
        border-radius: 28px;
        p {
            color: $white;
        }
        &_watch {
            img {
                margin: 0 0 0 10px;
            }
            p {
                margin-left: 30px;
            }
        }
    }

    @media(max-width: 480px) {
        .raiting-and-watch {
            flex-direction: column;
            align-items: center;
        }
        .button {
            margin-top: 20px;
        }
    }

    @media(max-width: 400px) {
        .film-cart {
            &__poster {
                .poster_img {
                    width: 80%;
                }
            }
            .about-film {
                table {
                    font-size: 14px;
                }
            }
        }
    }
}